@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 85px;
    text-align: center;

}

.header h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.484);
    width: 97%;
    margin: 0px auto;

}

.cp h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: black;
    margin-bottom: 20px;

}

.recom h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: black;

}

div.header {
    height:500px;
    width:auto;
    background-image: url("header.jpg");
    background-size: cover;
    overflow: hidden;


}

.header div {
    margin: 200px auto;
    text-align: center;
}

div.cp {
    margin: 20px 0px;
    text-align: center;
}

.recom {
    padding: 45px 0px;
    background-color: antiquewhite;

}

span {
    color: brown
}

a {
    background-color: #a24b15;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 12px 30px;
    margin: 10px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

h2.iwt {
    margin-top: 30px;
}

a:hover {
    color: aliceblue;
}
.footer {
    background-color: antiquewhite;
    text-align: center;
    padding-top: 0px;
}

